body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: large;
}

.my_info {
    display: flex;
    height: 100vh; 
    flex-direction: row;
    align-items: stretch; 
    justify-content: center; 
    padding: 20px;
    gap: 20px; 
}

.profile-pic {
    flex: 0 0 40%; 
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.profile-pic img {
    max-width: 100%; 
    height: auto;
    object-fit: cover; 
    border-radius: 10px;
}

.about_me {
    flex: 0 0 60%; 
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.about_me p {
    flex-grow: 1; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #000; 
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.my-name {
    background-color: green;
    color: white;
    text-align: center;
    height: 100px;
    padding: 20px 0 50px;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav li:nth-child(odd) a {
    color: white;
}

nav li:nth-child(odd) a:visited {
    color: yellow;
}

nav li:nth-child(even) a {
    color: white;
}

a {
    color:white
}
main {
    text-align: center;
    padding: 20px;
}

.about-me {
    background-color: #f0f0f0; 
    padding: 20px;
}

footer p {
    background-color: #000; 
    color: white;
    padding: 5px;
    text-align: center;
}

button {
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 10px 60px;
    cursor: pointer;
    height: 60px;
    font-size: medium;
    margin: 20px 10px; 
    text-align: center;
  }
  
  .button-container {
    display: flex; 
    justify-content: space-between; 
  }

.red-line {
    background-color: rgb(234, 32, 32);
    height: 40px; 
    width: 100%;
}