body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: large;
}

.my_info {
    display: flex;
    justify-content: center;
    align-items: stretch; 
    padding: 20px;
    gap: 20px; 
    max-width: 85%; 
    margin: 0 auto; 
    flex-wrap: nowrap; 
}

.profile-pic {
    flex: 0 0 30%; 
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 0px;
}

.profile-pic img {
    width: 100%; 
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1; 
    border-radius: 10px;
}

.about_me {
    flex: 0 0 70%; 
    background-color: lightgrey; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 20px;
    text-align: center;
}

.about_me p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem; 
}

@media (max-width: 768px) {
    .my_info {
        flex-direction: column; 
    }

    .profile-pic, .about_me {
        flex: 0 0 auto; 
        width: 100%; 
    }
}

header {
    background-color: #000; 
    color: white;
    padding: 10px;
}

.my-name {
    background-color: green;
    color: white;
    text-align: center;
    height: 100px;
    padding: 20px 0 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav li:nth-child(odd) a {
    color: white;
}

nav li:nth-child(odd) a:visited {
    color: yellow;
}

nav li:nth-child(even) a {
    color: white;
}

a {
    color: white;
    text-decoration: none; 
}

main {
    text-align: center;
    padding: 20px;
}

.about-me {
    background-color: #f0f0f0; 
    padding: 20px;
}

footer p {
    background-color: #000; 
    color: white;
    padding: 5px;
    text-align: center;
}

button {
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 10px 60px;
    cursor: pointer;
    height: 60px;
    font-size: medium;
    margin: 20px 10px; 
    text-align: center;
}

.button-container {
    display: flex; 
    justify-content: space-between; 
}

.red-line {
    background-color: rgb(234, 32, 32);
    height: 40px; 
    width: 100%;
    align-self: center;
}
